.contact {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 10px;
  margin: 0;
  border: 2px solid #333;
  border-radius: 10px;
  background: #eafbff;
}

.contactData {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.contactData div {
  display: flex;
  align-items: center;
  width: 100%;
}

.contactData p {
  /* min-width: 200px; */
  font-size: 18px;
  text-align: left;
  line-height: 1;
  margin-bottom: 10px;
}

.btnBox {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 5px;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
}
button:hover,
button:focus {
  outline: none;
}

/* .delete {
  background: #ffb2b2;
  color: #611010;
  border: 1px solid #611010;
} */

.delete {
  background: #ffb2b200;
  border: none;
}

.delete svg {
  font-size: 20px;
  color: #c93a3a;
}

.btnDone,
.btnEdit,
.delete {
  border: 1px solid #213547;
  background: #cdf5ff;
  color: #dbffde;
  padding: 2px 10px;
  font-size: 18px;
}

.btnEdit svg {
  font-size: 18px;
  color: black;
}

.btnDone svg {
  color: green;
  /* margin-right: 5px; */
}

.done {
  border: 2px solid green;
  background: #abffab !important;
}

.done p {
  text-decoration: line-through;
  color: green;
}

.done .btnDone,
.done .btnEdit,
.done .delete {
  background: #dffddf;
}

.done svg {
  color: green;
}

@media screen and (max-width: 450px) {
  .contact {
    width: 100%;
  }
}

/* @media (prefers-color-scheme: dark) {
  .contact {
    background: #999;
    color: #333;
  }
} */
