.searchBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 5px;
  border: 2px solid #333;
  border-radius: 10px;
  background: #eafbff;
}

.searchBox p {
  width: 100%;
  text-align: left;
  font-weight: bold;
  margin-bottom: 5px;
}

.searchBox input {
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  .searchBox {
    background: #999;
  }

  .searchBox p {
    color: #333;
  }

  .searchBox input {
    background: #7d7d7d;
  }
}
