.taskForm {
  max-width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #333;
  border-radius: 10px;
  background: #9aecff;
  position: absolute;
  bottom: 0;
}

.taskForm label {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-weight: bold;
}

.taskForm label input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 15px;
  margin-right: 5px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #1094b3; /* Цвет границы */
  background-color: #fff;
  cursor: pointer;
}

.taskForm label input[type="radio"]:checked {
  background-color: #34b2ce; /* Цвет радио-кнопки при выборе */
}

.taskForm input {
  height: 30px;
  width: 100%;
  margin: 5px 0;
  padding-left: 5px;
  font-size: 15px;
}

.taskForm span {
  color: red;
  position: absolute;
  top: 42px;
  right: 15px;
  padding: 0 5px;
  background: #fff;
}

.addTask {
  padding: 5px 10px !important;
  color: #eefcff;
  background: #1094b3;
  border: 1px solid #0a5d71;
}

/* @media (prefers-color-scheme: dark) {
  .taskForm {
    background: #999;
  }

  .taskForm label {
    color: #333;
  }

  .taskForm input {
    background: #7d7d7d;
  }

  .taskForm span {
    background: #7d7d7d;
  }
} */
