.taskForm {
  max-width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #333;
  border-radius: 10px;
  background: #9aecff;
  position: fixed;
  bottom: 10px;
}

.formTitle {
  font-weight: bold;
}

.catBtnBox {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 11px;
}

.addTask {
  width: 99px;
  height: 35px;
  color: #eefcff;
  background: #1094b3;
  border: 1px solid #0a5d71;
  border-radius: 5px;
}
