#root {
  min-width: 320px;
  max-width: 1280px;
  height: 100dvh;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

#root h1 {
  width: 100%;
}

.MuiTabs-indicator {
  background-color: #1094b3 !important;
}

@media screen and (max-width: 450px) {
  input {
    width: 100%;
  }
}
