.taskList {
  max-width: 650px;
  height: 480px;
  background: none !important;
  overflow: scroll;
  border-radius: 10px;
  -ms-overflow-style: none; /* IE и Edge */
  scrollbar-width: none; /* для Firefox */
}

.taskList::-webkit-scrollbar {
  display: none; /* для Chrome, Safari и Opera */
}

.taskList ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.taskList li {
  display: flex;
  list-style-type: none;
}

@media screen and (max-width: 450px) {
  .taskList li {
    width: 100%;
  }
}
