.taskList {
  background: none !important;
  border-radius: 10px;
}

.taskList ul {
  max-width: 650px;
  max-height: 440px;
  overflow: scroll;
  -ms-overflow-style: none; /* IE и Edge */
  scrollbar-width: none; /* для Firefox */
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
  margin: 0;
}

.taskList ul::-webkit-scrollbar {
  display: none; /* для Chrome, Safari и Opera */
}

.taskList li {
  display: flex;
  list-style-type: none;
}

@media screen and (max-width: 450px) {
  .taskList li {
    width: 48%;
  }
}
