.taskList {
  width: 100%;
  height: 65%;
  background: none !important;
  border-radius: 10px;
  overflow: scroll;
  -ms-overflow-style: none; /* IE и Edge */
  scrollbar-width: none; /* для Firefox */
}

.taskList::-webkit-scrollbar {
  display: none; /* для Chrome, Safari и Opera */
}
